<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="5078pepeizq.TilesforWebs"
    Publisher="CN=C91088FC-231C-4E13-86D1-5F9658173DA7"
    Version="1.0.6.0" />

  <mp:PhoneIdentity PhoneProductId="6e15eb96-99e4-4664-b502-24ec43abede0" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Tiles for Webs</DisplayName>
    <PublisherDisplayName>pepeizq&apos;s apps</PublisherDisplayName>
    <Logo>Assets\Logos\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Web_Tiles.App">
      <uap:VisualElements
        DisplayName="ms-resource:Webs_Title"
        Square150x150Logo="Assets\Logos\Square150x150Logo.png"
        Square44x44Logo="Assets\Logos\Square44x44Logo.png"
        Description="https://pepeizqapps.com/"
        BackgroundColor="#486a99">
        <uap:DefaultTile Wide310x150Logo="Assets\Logos\Wide310x150Logo.png" ShortName="Webs Tiles" Square71x71Logo="Assets\Logos\SmallTile.png" Square310x310Logo="Assets\Logos\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\Logos\SplashScreen.png" a:Optional="true" xmlns:a="http://schemas.microsoft.com/appx/manifest/uap/windows10/5" BackgroundColor="#486a99"/>
        <uap:LockScreen BadgeLogo="Assets\Logos\BadgeLogo.png" Notification="badgeAndTileText"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>